body
{
    background-color: black;
}

h1
{
    text-align: center;
    text-decoration-color: white;
}

h3
{
    text-align: center;
    text-decoration-color: white;
}

h4
{
    text-align: center;
    text-decoration-color: white;
}

label
{
    text-align: center;
    text-decoration-color: white;
}